<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Browse - wochacooking.com</title>
  <link rel="stylesheet" href="../static/css/main.css"/>
  <link rel="stylesheet" href="../static/css/browse.css"/>
</head>
<body>
{% include 'navbar.html'%}
<div class="browse-page">
    <h1>Browse Recipes</h1>
    <h2>Total Recipes: {{ number_of_recipes }}</h2>
    <div id="container">
        <form class="search-container" method="get" action="{{ url_for('browse_bp.browse') }}">
            <select name="filter_by" class="filter-dropdown">
                <option value="name" {% if filter_by == 'name' %}selected{% endif %}>Name</option>
                <option value="category" {% if filter_by == 'category' %}selected{% endif %}>Category</option>
                <option value="author" {% if filter_by == 'author' %}selected{% endif %}>Author</option>
            </select>
          <div class="search-wrapper">
            <input
              type="text"
              name="q"
              placeholder="Search Recipe..."
              value="{{ search_query }}"
              class="search-input">
            <button type="submit" class="search-btn" aria-label="Search">
              <img src="{{ url_for('static', filename='images/search.svg') }}" alt="" class="search-icon"/>
            </button>
          </div>
        </form>
    </div>

    <div class="browse-content">
      <ul class="recipes-grid">
        {% for recipe in recipes_on_page %}
          <li class="recipe-card">
            <a class="card-link" href="{{ url_for('recipe_detail_bp.recipe_detail',
                       recipe_id=recipe.id,
                       return_to=request.full_path) }}">
              <div class="card-img">
                <img src="{{ recipe.images[0].url }}" alt="">
              </div>
              <div class="card-body">
                <h3>{{ recipe.name }}</h3>
                <p>Author: {{ recipe.author.name }}</p>
                <p>Health Star rating: {{ recipe.nutrition.health_star() }}</p>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <nav class="pager">
        {% if prev_url %}
            <a class="page-btn" href="{{ prev_url }}">Previous</a>
        {% endif %}

        <span>Page {{ page }} of {{ total_pages }}</span>

        {% if next_url %}
            <a class="page-btn" href="{{ next_url }}">Next</a>
        {% endif %}
    </nav>
</div>
</body>
{% include 'footer.html' %}
</html>