<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/main.css"/>
<link rel="stylesheet" href="../static/css/footer.css">
<div class="footer">
    <div class="footer-logo-box">
        <img src="../static/images/logos/wocha_logo_rectangle.png" class="footer-logo" alt="wocha logo">
    </div>
   <div class="name-grid">
        <div class="footer-person">
            <p class="name">Owen Sugden</p>
            <p class="upi">osug259</p>
        </div>
        <div class="footer-person">
            <p class="name">Ben Charman-Moore</p>
            <p class="upi">bcha428</p>
        </div>
        <div class="footer-person">
            <p class="name">Ryota Barton</p>
            <p class="upi">rbar195</p>
        </div>
    </div>
    <p>COMPSCI 235 Software Development Methodologies</p>
</div>
