<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - wochacooking.com</title>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/home.css"/>
</head>

<body>
{% include 'navbar.html' %}
    <div class="hero">

    <img src="../static/images/logos/wocha_logo_rectangle.png" class="logo" alt="wocha logo">
        <h4 class = tagline>The Recipe for Connection</h4>
        <div class="intro-block">
            <h3>Find the answer to the question by exploring<br>
                our collection of delicious recipes.</h3>
        </div>
    </div>

        <div class="featured-recipes">
            <h1>Featured Recipes</h1>
            <ul class="recipes-grid">
                {% for recipe in recipes_on_page %}
                <li class="recipe-card">
                    <a class="card-link" href="{{ url_for('recipe_detail_bp.recipe_detail', recipe_id=recipe.id, return_to=request.full_path) }}" style="text-decoration: none">
                        <div class="card-img">
                            <img src="{{ recipe.images[0].url }}" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-recipe" style="margin: 0">{{ recipe.name }}</h3>
                            <p class="card-author" style="margin: 0">Author: {{ recipe.author.name }}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
{% include 'footer.html' %}
</html>